@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.before-tbody:before {
    content: '.';
    line-height: 0.75rem;
    display: block;
    color: #121215;
}